<nav class="nav nav-tabs" id="nav-tab" role="tablist">
  <a class="nav-link active" id="nav-socialmedia-tab" data-bs-toggle="tab" href="#socialmedia" role="tab" aria-selected="true">Social Media </a>
  <a class="nav-link" id="nav-imagerespo-tab" data-bs-toggle="tab" href="#responsiveImage" role="tab" aria-controls="nav-profile" aria-selected="false">Image</a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="socialmedia" role="tabpanel" aria-labelledby="nav-socialmedia-tab">
    <div class="container-fluid"  style="background-color:#eae8ea;">
      <div class="row  p-lg-5">
       <div  class="col-md-4 col-sm-6">
          <div class="m-3 text-center text-wrap bg-white shadow  doc rounded">
            <div class="p-4 ">
              <i class="fa fa-instagram fa-3x"></i>
              <p class="h5">Instagram</p>
              <p class="small m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste voluptatibus iure cumque sapiente 
                laboriosam porro dignissimos </p>
                <a href="#">Learn More</a>
            </div>
          </div>
       </div >
        <div class="col-md-4 col-sm-6">
          <div class="m-3 text-center text-wrap bg-white shadow doc rounded">
            <div class="p-4 ">
              <i class="fa fa-twitter fa-3x"></i>
              <p class="h5">Twitter</p>
              <p class="small m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste voluptatibus iure cumque sapiente 
                laboriosam porro dignissimos </p>
                <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <!-- facebook -->
          <div class="m-3 text-center bg-white shadow  doc rounded">
            <div class="p-4">
              <i class="fa fa-facebook-f fa-3x"></i>
              <p class="h5">Facebook</p>
              <p class="small m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste voluptatibus iure cumque sapiente 
                laboriosam porro dignissimos </p>
                <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        
        <!-- pinter -->
        <div class="col-md-4 col-sm-6">
          <div class="m-3 text-center bg-white shadow  doc rounded">
            <div class="p-4">
              <i class="fa fa-pinterest-p fa-3x"></i>
              <p class="h5">Pinterest</p>
              <p class="small m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste voluptatibus iure cumque sapiente 
                laboriosam porro dignissimos </p>
                <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <!-- google + -->
          <div class="m-3 text-center bg-white shadow doc  rounded">
            <div class="p-4">
              <i class="fa fa-google-plus fa-3x"></i>
              <p class="h5">Google</p>
              <p class="small m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste voluptatibus iure cumque sapiente 
                laboriosam porro dignissimos </p>
                <a href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
        <!-- github -->
          <div class="m-3 text-center bg-white shadow  doc rounded">
            <div class="p-4">
              <i class="fa fa-github fa-3x"></i>
              <p class="h5">Github</p>
              <p class="small m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste voluptatibus iure cumque sapiente 
                laboriosam porro dignissimos </p>
                <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
  </div>
  <div class="tab-pane fade" id="responsiveImage" role="tabpanel" aria-labelledby="nav-imagerespo-tab">
    
      <p class="text-center">Image with Media Query</p>
      <img class="mediaq" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.VCjwvbP0XjYTldfhzk0bWgHaEr%26pid%3DApi&f=1">
      <br><p class="text-center">Image without Media Query</p>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.VCjwvbP0XjYTldfhzk0bWgHaEr%26pid%3DApi&f=1">
    

  </div>
 
</div>

  
